@keyframes app-animate-skip {

  0%,
  20%,
  53%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: translateZ(0);
  }

  40%,
  43% {
    transition-timing-function: cubic-bezier(.755, .05, .855, .06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(.755, .05, .855, .06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes app-animate-breathe {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes app-animate-flash {

  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes app-animate-rotate {
  0% {
    transform: rotate(-1turn);
    transform-origin: center;
  }

  100% {
    transform-origin: center;
    transform: none;
  }
}