.appWrap {
  box-sizing: content-box;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ececec;
  background-color: #fff;
  height: 667px;
  width: 375px;
  box-sizing: content-box;
  .app {
    position: relative;
    width: 375px;
    height: 667px;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0px;
    }
    * {
      cursor: pointer;
      user-select: none;
    }
  }
}

.focus {
  box-shadow: 0 0 1px red, 0 0 1px red, 0 0 1px red;
}