.sideBar {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  padding: 15px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  margin: 0;
  display: flex;
  flex-direction: column;
  .barItem {
    padding: 0 10px;
    text-align: left;
    color: #fff;
    margin: 5px 0;
    cursor: pointer;
    font-size: 12px;
  }
}