.app {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ececec;
  background-color: #fff;
  max-height: 80vh;
  box-sizing: content-box;
  // overflow: auto;
  &::-webkit-scrollbar {
    width: 0px;
  }
  li {
    list-style: none;
  }
}
