.container {
  background-color: #fff;
  padding: 20px;
  .title {
    margin: 30px 0px 20px;
    font-size: 16px;
    font-weight: bold;
  }
  .list {
    .listItem {
      display: flex;
      align-items: center;
      margin-right: 10px;
      margin-bottom: 10px;
      .key {
  
      }
      .value {
        width: 70px;
        margin-right: 10px;
      }
    }
   
  }
}

