#VisualEditorEditMode {
  position: relative;
  * {
    animation: none !important;
  }

  .block-selected {
    outline: 2px solid #3b97e3 !important;
    z-index: 1;
  }

  .block-hover {
    outline: 1px solid #3b97e3;
    z-index: 1;
  }
}


#VisualEditorEditMode[data-h5="true"],#VisualEditorRenderMode[data-h5="true"] {

  &::-webkit-scrollbar {
    width: 0px;
  }

  * {
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}
